@mixin before_circle {
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        background-color: $main-color;
        border-radius: 100%;
        position: absolute;
        top: -25%;
        left: 0;
        z-index: -1;
    }
}