.list {
    padding-top: 60px;
    &__wrapper {
        display: grid;
        grid-template: 162px 162px/368px 368px;
        justify-content: space-between;
        margin-top: 60px;
        padding: 0 50px;
        &-items {
            display: grid;
            grid-template: 21px 18px/186px 121px;
            row-gap: 5px;
            justify-content: space-between;
            padding-left: 25px;
        }
        &-descr {
            grid-column: 1/3;
        }
        &-page, &-price {
            font-weight: 700;
        }
        &-page {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -25px;
                top: 3px;
            }
        }
       
    }
    .title__section-title {
        text-align: center;
    }
}

.mt {
    margin-top: 15px;
}