.promo {
    min-height: 100vh;
    background: url(../img/main_bg.jpg) center center/cover no-repeat;
    padding: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__btns {
        display: flex;
        width: 205px;
        margin-top: 25px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        display: block;
        font-size: 14px;
        color: #000;
        font-weight: 700;   
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}