.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    &__fs16 {
        font-size: 16px;
        line-height: 24px;
    }
    &__fs48 {
        font-size: 48px;
    }
    &__fs14 {
        font-size: 14px;
        line-height: 21px;
        
    }
    &__fs12 {
        font-size: 12px;
    }
    &__fs20 {
        font-size: 20px;
    }
    &__section-title {
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }
}
